.shadow_div{
    background-color: white;
    /* position: relative; */
    z-index: 1;
}
.outer_div{
    width: 1400px;
    height: 1000px;
    border-radius: 50%;
    margin-left: 700px;
   position: absolute;
    top: -357px;
    background-color: #F4F1FF;
    opacity: 45%;
    /* filter: drop-shadow(0px 0px 3px #7151FF); */
    
    /* filter: blur(3px) drop-shadow(0px 0px 3px #7151FF); */
    opacity: 45%;

}
.middle_div{
    width: 1200px;
    height: 900px;
    border-radius: 50%;
    margin-left: 200px;
  
    background-color: #F4F1FF;
    opacity: 55%;
    /* filter: drop-shadow(0px 0px 3px #7151FF); */
    filter: blur(1px) drop-shadow(0px 0px 3px #7151FF);
}
.inner_div{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -200px;
    background-color: #F4F1FF;
    /* filter: drop-shadow(0px 0px 3px #7151FF);
     */
     filter:  drop-shadow(0px 0px 3px #7151FF);
}